@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
	background-image: url("/bg.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

#heroa {
	height: calc(100vh - 80px);
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fade-in-up {
	animation: fadeInUp 0.5s ease forwards;
}

.fade-out-down {
	animation: fadeOutDown 0.5s ease forwards;
}
